[Unit]
Description=HBMonitor

After=network-online.target syslog.target
Wants=network-online.target

[Service]
StandardOutput=null
WorkingDirectory=/opt/Hbmonitor-Install
RestartSec=3
ExecStart=/usr/bin/python3 /opt/Hbmonitor-Install/monitor.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
